.vs/
.idea/

bin/
obj/
*.exe
*.dll
*.pdb

packages/
*.nupkg
*.paket

TestResults/
index.html
*.log

*.feature.cs

TestResults/ExtentReports/

chromedriver.exe
chrome-log.txt
geckodriver.exe
gecko-log.txt

Screenshots/